.comment {
    display: block;
    width: 100%;
    padding: 1rem 0rem;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.comment .content {
    /* padding: 0.5rem 1rem; */
}

.userName {
    display: inline-block;
}

.writtenOn {
    color: gray;
    margin-left: 0.3rem;
    font-size: 0.9rem;
}